@import '../../styles/config/variables';

.login-form {
    margin-top: 2rem;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}