@import '../../styles/config/variables';

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .content-modal {
    min-width: 32rem;
    border-radius: 6px;
    padding: 2.5rem 3rem;
    background: $c-gray-800;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    form {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .form-group {
        display: flex;
        gap: 1rem;
        flex-direction: column;
      }
    }
  
    input {
      height: 46px;
      border-radius: 6px;
      border: 0;
      background: $c-gray-900;
      color: $c-gray-200;
      padding: 1rem;
  
      &::placeholder {
        color: $c-gray-200;
      }
    }

    textarea {
        resize: none;
    }
  
    button[type="submit"] {
      height: 46px;
      border: 0;
      background: $c-secondary;
      color: $c-gray-100;
      border-radius: 6px;
      font-weight: 700;
      padding: 0 1.25rem;
      margin-top: 1.5rem;
      transition: background-color 0.2s;
      cursor: pointer;
  
      &:hover {
        background: $c-secondary;
      }
    }
  }
  
  .close-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    line-height: 0;
    border: 0;
    background: transparent;
    color: $c-gray-200;
    cursor: pointer;
  }