@import '../../styles/config/variables';
  .cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 10px;
  }
  
  .card {
    border: 1px solid $c-gray-200;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
  }

  .card svg {
    font-size: 26px;
  }

  .card-content h2 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .card-content a {
    color: $c-secundary;
    text-decoration: none;
  }
  
  .card-content a:hover {
    text-decoration: underline;
  }